{% extends "layout.html.twig" %}
{% block contenu %}
    {% if unClient %}
        {% set idClient = unClient.getId() %}
    {% endif %}
        {% include 'blocks/clientRecherche.html.twig' %}
    {% if unClient %}
        {% include 'blocks/singleClient.html.twig' %}
    {% else %}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent () }}
    <div class="text-center"> Fin de l'affichage</div>
{% endblock %}