{% extends "layout.html.twig" %}
{% block contenu %}
    {% if unClient %}
        {% set idClient = unClient.getId() %}
    {% endif %}
    {% include 'blocks/clientRecherche.html.twig' %}
    <div id='retour'>
        {% block retour %}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent () }}
    <div class="text-center"> Fin de l'affichage</div>
    <script type="text/javascript" src="assets\js\GestionClient\clientsFunction.js"></script>
    <script type="text/javascript" src="assets/js/creationXHR.js"></script>
{% endblock %}
